{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "cursorOffset": -1,
  "embeddedLanguageFormatting": "auto",
  "filepath": "",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "overrides": [],
  "plugins": [],
  "pluginSearchDirs": [],
  "quoteProps": "as-needed",
  "rangeEnd": null,
  "rangeStart": 0,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,  
  "vueIndentScriptAndStyle": false
}
